<div class="container">
        <h1 class="display-1">Gestion de Administradores</h1>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" data-toggle="modal" data-target="#modalAgregarAdministrador">Agregar
        </button>
        <hr>
    <table id="myTable" class="table">
        <thead class="thead">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de Nacimiento</th>
            <th>Correo</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr class="items" *ngFor="let admin of administrators">
            <td>{{admin.UsuarioID}}</td>
            <td>{{admin.Nombre}}</td>
            <td>{{admin.Apellido}}</td>
            <td>{{admin.FechaNacimiento}}</td>
            <td>{{admin.Correo}}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-outline-info" (click)="loadAdministrador(admin.UsuarioID)"  data-toggle="modal" data-target="#modalActualizarAdministrador">Actualizar</button>
                <button class="btn btn-outline-danger" (click)="deleteAdministrador(admin.UsuarioID)">Eliminar</button>
              </div>
            </td>
          </tr>
        </tbody>
    </table>
</div>

<!--MODAL AGREGAR ADMINISTRADOR -->
<div  id="modalAgregarAdministrador" class="modal  fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form [formGroup]="formAdmin" (ngSubmit)="AddAdministrador()" >
          <div class="modal-header">
            <h5 class="modal-title">Agregar Administrador</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="alert alert-primary alert-dismissible fade show" role="alert" *ngIf="notificacion.estado">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong>{{ notificacion.mensaje }}</strong>
            </div>
          <div class="alert alert-danger" role="alert" *ngIf="notificacionError.estado">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{ notificacionError.mensaje }}</strong>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="inputNombre">Nombre</label>
              <input class="form-control"  formControlName="Nombre" type="text" placeholder="Nombre del Administrador." />
            </div>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="inputApellido">Apellido</label>
              <input class="form-control"  formControlName="Apellido" type="text" placeholder="Nombre del Administrador." />
            </div>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="inputCorreo">Correo</label>
              <input class="form-control"  formControlName="Correo" type="email" placeholder="Correo del Administrador." />
            </div>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="inputContrasena">Contraseña</label>
              <input class="form-control"  formControlName="Contrasena" type="password" placeholder="Contraseña del Administrador." />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" aria-label="Close" class="btn btn-outline-secondary" data-dissmiss="modal">Cerrar</button>
            <button type="submit" [disabled]="!formAdmin.valid"  class="btn btn-outline-success">Agregar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--MODAL ACTUALIZAR ADMINISTRADOR -->
  <div  *ngIf="formUpdateAdmin" id="modalActualizarAdministrador" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form [formGroup]="formUpdateAdmin" (ngSubmit)="UpdateAdmin()" >
          <div class="modal-header">
            <h5 class="modal-title">Actualizar Administrador</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="alert alert-primary alert-dismissible fade show" role="alert" *ngIf="notificacion.estado">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong>{{ notificacion.mensaje }}</strong>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="notificacionError.estado">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{ notificacionError.mensaje }}</strong>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="inputNombre">Nombre</label>
              <input class="form-control"  formControlName="UsuarioID" [(ngModel)]="usuario.UsuarioID"  type="hidden" placeholder="ID del Administrador." />
              <input class="form-control"  formControlName="Nombre" [(ngModel)]="usuario.Nombre"  type="text" placeholder="Nombre del Administrador." />
            </div>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="inputApellido">Apellido</label>
              <input class="form-control"  formControlName="Apellido" [(ngModel)]="usuario.Apellido"  type="text" placeholder="Nombre del Administrador." />
            </div>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="inputCorreo">Correo</label>
              <input class="form-control"  formControlName="Correo" [(ngModel)]="usuario.Correo"  type="email" placeholder="Correo del Administrador." />
            </div>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="inputContrasena">Contraseña</label>
              <input class="form-control"  formControlName="Contrasena" [(ngModel)]="usuario.Contrasena"  type="password" placeholder="Contraseña del Administrador." />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" aria-label="Close" class="btn btn-outline-secondary" data-dissmiss="modal">Cerrar</button>
            <button type="submit" [disabled]="!formUpdateAdmin.valid"  class="btn btn-outline-success">Agregar</button>
          </div>
        </form>
      </div>
    </div>
  </div>